.Garden-Container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Canvas-Container {
  display: flex;
  justify-content: center;
}

#Garden-Canvas {
  /* border-style: solid; */
  border-radius: 15px;
  border-color: var(--primary);
  border-style: outset;
  border-width: 4px;
}
